<div class="container w-75">
  <div class="d-flex flex-row-reverse flex-column">
    <%if current_user.admin? %>
      <%= link_to 'Crear profesional', new_professional_path, class:"btn btn-lg btn-dark button-margenes" %>
      <%= link_to 'Crear turno', new_appointment_path, class:"btn btn-lg btn-dark button-margenes", style:"margin-right: 1em;" %>
    <%end%>
  </div>
  <table class="table border mx-auto" style="margin-top:3em;">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Professional</th>
        <th scope="col">Turnos</th>
        <th scope="col">Borrar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @professionals.each do |professional| %>
          <th scope="row"><%=professional.id%></th>
          <th><%= professional.nameAndSurname %></th>
          <th>
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
              <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
              <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>
          </th>
          <th>
            <%= link_to professional_path( professional.id), method: "delete", :data => {:confirm => 'Seguro que desea eliminar el profesional?'}, class: "delete"  do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            <% end %>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
